@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/datetime/lib/css/blueprint-datetime.css";

body {
  margin: 0;
}

.App {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.resident-row {
  cursor: pointer;
}

.resident-row:hover {
  background-color: #EAC87D;
}

.resident-row-selected {
  font-weight: bold;
  border: 1px solid grey;
}

.resident-row-selected:hover {
  background-color: #EAC87D;
}

.bp3-menu {
  background-color: #E8F9B6;
}